<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Geo Quiz</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
  <link href="style.css" rel="stylesheet">
</head>

<body>
  <header>
    <h1>Geo Quiz <small>English Counties</small></h1>
  </header>

  <div class="container">
    <div class="row">
      <div id="map" class="col-md-6"></div>
      <div class="col-md-6" id="content">
        <div id="progress">
        </div>
      </div>
    </div>
  </section>

  <script type="text/template" id="template-question">
    <p><%= text %></p>
    <ul id="options">
      <% 
        _.each(options, function(option) {
          print('<li data-option=' + option + '>' + option + '</li>');
        });
      %>
    </ul>
  </script>

  <script type="text/template" id="template-progress">
    <p>Question <strong><%= currentQuestion %></strong> of <strong><%= nQuestions %></strong></p>
    <div class="progress progress-striped active">
      <div class="progress-bar"  role="progressbar" aria-valuenow="<%= currentQuestion - 1 %>" aria-valuemin="0" aria-valuemax="<%= nQuestions %>" style="width: <%= ((currentQuestion - 1) / nQuestions * 100) +'%' %>">
      </div>
    </div>
  </script>

  <script type="text/template" id="template-complete">
    <h2>Complete!</h2>
    <p>
      You scored <strong><%= correct %></strong> out of <strong><%= total %></strong>
    </p>
  </script>
  

  <script src="http://code.jquery.com/jquery-2.0.3.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>

  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  
  <!-- tmp! -->
  <script src="app/data/uk-topo.js"></script>
  <script src="app/data/uk-counties-topo.js"></script>

  <script src="app/model/Question.js"></script>
  <script src="app/model/Dataset.js"></script>
  <script src="app/model/Progress.js"></script>
  <script src="app/view/ProgressView.js"></script>
  <script src="app/view/CompleteView.js"></script>
  <script src="app/view/QuestionView.js"></script>
  <script src="app/app.js"></script>


</body>

</html>