<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Geo Quiz</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
  <link href="style.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="row">
        <h1>Geo Quiz</h1>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div id="map-view">
          <div id="map"></div>
        </div>
      </div>
      <div class="col-md-6" id="active-view">
      </div>
    </div>
  </div>

  <script type="text/template" id="template-quiz-view">
    <div id="content"></div>
    <div id="progress"></div>
    <div>
      <a href="#/" class="btn btn-warning pull-right quit">Quit this quiz</a>
    </div>
  </script>

  <script type="text/template" id="template-menu-view">
    <h2>Select a Quiz</h2>
    <ul class="menu-items block-list"></ul>
  </script>

  <script type="text/template" id="template-question">
    <p><%= text %></p>
    <ul id="options" class="block-list">
      <% 
        _.each(options, function(option) {
          print('<li data-option="' + option + '">' + option + '</li>');
        });
      %>
    </ul>
  </script>

  <script type="text/template" id="template-progress">
    <p>Question <strong><%= currentQuestionNumber + 1 %></strong> of <strong><%= nQuestions %></strong></p>
    <div class="progress progress-striped active">
      <div class="progress-bar"  role="progressbar" aria-valuenow="<%= currentQuestionNumber %>" aria-valuemin="0" aria-valuemax="<%= nQuestions %>" style="width: <%= (currentQuestionNumber / nQuestions * 100) +'%' %>">
      </div>
    </div>
  </script>

  <script type="text/template" id="template-complete">
    <h2>Complete!</h2>
    <p>
      You scored <strong><%= correct %></strong> out of <strong><%= total %></strong>
    </p>
    <p>
      <a class="btn btn-primary restart">Restart</a>
      <a class="btn btn-success exit" href="#/">Back to menu</a>
    </p>
  </script>
  
  <script type="text/template" id="template-menu-item">
    <%= name %>
    <a class="btn btn-primary start-quiz" href="#/quiz/<%= label %>">Start</a>
  </script>

  <script src="http://code.jquery.com/jquery-2.0.3.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>

  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  
  <script src="app/data/datasets.js"></script>
  
  <!-- todo: require.js -->
  <script src="app/model/Question.js"></script>
  <script src="app/model/Dataset.js"></script>
  <script src="app/model/Quiz.js"></script>
  <script src="app/model/MapState.js"></script>
  <script src="app/view/MenuView.js"></script>
  <script src="app/view/ProgressView.js"></script>
  <script src="app/view/CompleteView.js"></script>
  <script src="app/view/QuizView.js"></script>
  <script src="app/view/MapView.js"></script>
  <script src="app/view/QuestionView.js"></script>
  <script src="app/app.js"></script>


</body>

</html>