h1 {
    font-family: 'Roboto Slab', Georgia, serif
}

h1 > small {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#map {
	height: 500px;
    width: 500px;
    border: solid 1px #ddd;
    border-radius: 10px;
}

#questions > p {
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Roboto Slab', Georgia, serif;
}

#questions > ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
}

#questions > ul > li {
    margin: 0;
    padding: 10px;
    border-top: solid 1px #ddd;
    cursor: pointer;
}

#questions > ul > li:last-child {
    border-bottom: solid 1px #ddd;
}

#questions > ul > li:hover {
    background-color: #d9edf7;
    font-weight: bold;
}